<div class="admin-centre">

  <div class="grid-admin">
    <a class="tile tile-large" routerLink="/centre/user">Utilisateurs</a>
    <a class="tile tile-small" routerLink="/admin/stores">Magasins</a>
    <a class="tile tile-small" routerLink="/admin/products">Produits</a>
    <a class="tile tile-medium" routerLink="/admin/store-products">Produits par magasin</a>
    <a class="tile tile-small" routerLink="/admin/store-access">Accès magasin</a>
    <a class="tile tile-medium" routerLink="/admin/store-admins">Admins magasin</a>
  </div>
</div>
