<nav class="bottom-nav">
    <a routerLink="/products" routerLinkActive="active">
        <img src="assets/images/products.png" alt="Produits" />
    </a>
    <a routerLink="/mapping" routerLinkActive="active">
        <img src="assets/images/maps.png" alt="Carte" />
    </a>
    <a routerLink="/home" routerLinkActive="active">
      <img src="assets/images/V3_logo.jpg" alt="Accueil" />
    </a>
    <a routerLink="/history" routerLinkActive="active">
        <img src="assets/images/history.png" alt="Historique" />
    </a>
    <a routerLink="/cart" routerLinkActive="active">
        <img src="assets/images/cart.png" alt="Panier" />
    </a>
</nav>
