<div class="centre-container">

  <div class="top-bar">
    <button class="btn-dev" (click)="getAllProducts()">Voir tout</button>
    <button class="add-product-btn" (click)="toggleAddForm()">+ Ajouter produit</button>
  </div>

  <div class="search-bar">
    <input [(ngModel)]="search.name" placeholder="Nom produit">
    <input [(ngModel)]="search.category" placeholder="Catégorie">
    <input [(ngModel)]="search.marque" placeholder="Marque">
    <input [(ngModel)]="search.barcode" placeholder="Code-barres">
    <button (click)="onSearch()">🔍 Rechercher</button>
  </div>

  <div *ngIf="showAddForm" class="modal-overlay" (click)="closeForm()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>Ajouter un produit</h3>
        <button class="close-btn" (click)="closeForm()">❌</button>
      </div>

      <div class="modal-body add-product-form">
        <input [(ngModel)]="newProduct.name" placeholder="Nom">
        <input [(ngModel)]="newProduct.category" placeholder="Catégorie">
        <input [(ngModel)]="newProduct.marque" placeholder="Marque">
        <input [(ngModel)]="newProduct.barcode" placeholder="Code-barres">
        <input type="file" (change)="onImageSelected($event)" accept="image/*">

        <div *ngIf="imagePreviewUrl" class="preview">
          <p>Aperçu de l'image :</p>
          <img [src]="imagePreviewUrl" alt="Aperçu image" class="image-preview">
        </div>

        <button (click)="onAddProduct()">✅ Enregistrer</button>
      </div>
    </div>
  </div>

  <div *ngIf="products.length > 0" class="product-table">
    <div class="table-header">
      <div>Image</div>
      <div>Nom</div>
      <div>Catégorie</div>
      <div>Marque</div>
      <div>Code-barres</div>
      <div>Actions</div>
    </div>

    <div class="table-row" *ngFor="let p of products" (click)="selectProduct(p)" [attr.data-id]="p._id">
      <div><img [src]="p.image_url" alt="Image produit" class="product-img" /></div>
      <div>{{ p.name }}</div>
      <div>{{ p.category }}</div>
      <div>{{ p.marque }}</div>
      <div>{{ p.barcode }}</div>
      <div class="actions">
        <button class="trash-btn" (click)="onDeleteProduct(p._id); $event.stopPropagation()">🗑</button>
      </div>
    </div>
  </div>

 <div *ngIf="selectedProduct" class="modal-overlay" (click)="selectedProduct = null">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>Modifier le produit</h3>
        <button class="close-btn" (click)="selectedProduct = null">❌</button>
      </div>

      <div class="modal-body add-product-form">
        <input [(ngModel)]="selectedProduct.name" placeholder="Nom">
        <input [(ngModel)]="selectedProduct.category" placeholder="Catégorie">
        <input [(ngModel)]="selectedProduct.marque" placeholder="Marque">
        <input [(ngModel)]="selectedProduct.barcode" placeholder="Code-barres">
        <input type="file" (change)="onUpdateImageSelected($event)" accept="image/*">

        <div class="aperçu-image">
          <div *ngIf="editImagePreviewUrl || selectedProduct.image_url" class="preview">
            <p>Aperçu de l'image :</p>
            <img
              [src]="editImagePreviewUrl || selectedProduct.image_url"
              alt="Aperçu image"
              class="image-preview"
            >
          </div>
  
          <div *ngIf="updateImagePreviewUrl" class="preview">
            <p>Aperçu de la nouvelle image :</p>
            <img [src]="updateImagePreviewUrl" alt="Aperçu image" class="image-preview">
          </div>

        <button (click)="onUpdateProduct()">💾 Enregistrer</button>
      </div>
    </div>
  </div>

</div>
